# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js / build outputs
.next/
out/
build/
.next-debug.log

# Production
/.vercel/

# Environment variables
.env
.env.*.local

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Test coverage
coverage/

# Bundler / cache
.cache/
dist/

# Misc
*.tgz
*.local

# Added by ggshield
.cache_ggshield
